{% extends "collection/base.html" %}

{% block content %}
<div class="flex flex-col justify-items-center md:mx-auto md:max-w-screen-2xl px-2">
    {% if user.is_authenticated %}
        <div class="my-5 bg-slate-200 border-4 border-slate-500 text-slate-700 p-6 text-center" role="alert">
            <p class="font-bold">Hola {{user.username}}</p>
            <p>Aquí podrás ver 12 pinturas aleatorias.</p>     
        </div>
        
        <div class="bg-slate-200 p-6 justify-items-center border-4 border-slate-500"> 
            <div id="artworks-container" class="grid grid-cols-4">  
                {% for art in artworks %}
                    <a href="/artwork/{{art.id}}">
                        <ul class="py-2">
                            <div style="width:230px; display: flex; flex-direction: column; justify-content: space-between;">
                                <div class="flex flex-col items-center">
                                    <img class="rounded-2xl shadow-lg w-fit p-1" style="height: fit-content;" src="{{art.image_url}}" id="botton_img">
                                    <h2 class="w-full font-bold p-1 text-center">{{art.title}}</h2>
                                    <span class="font-bold rounded-xl p-1 h-auto w-fit text-slate-700">{{art.author.name}}</span> 
                                </div>
                            </div>
                        </ul>  
                    </a>        
                {% endfor %}
            </div>    
            <div class="flex items-center justify-center mt-4">
                <button type="button"
                    _="on click trigger closeModal"
                    class="rounded-md bg-blue-900 hover:bg-blue-800 text-white font-semibold px-4 py-2"
                    hx-get="/artworks/random" hx-target="#artworks-container" hx-swap="beforeend">
                    Cargar más
                </button>
            </div>
        </div>
    {% else %}
        <div class="my-5 bg-slate-200 border-4 border-slate-500 text-slate-700 p-6" role="alert">
            <p class="font-bold">Hola</p>
            <p > Por favor inicia sesión para ver esta página.</p>
        </div>
    {% endif %}
</div>
{% endblock content %}