<div id="modal" _="on closeModal or listChanged remove me" class="relative z-10" role="dialog" aria-modal="true">
    <div class="fixed inset-0 hidden bg-gray-500 bg-opacity-75 transition-opacity md:block"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex w-full mx-auto transform 
            text-left text-base transition 
            md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl">
            <div class="relative flex w-full 
                items-center overflow-hidden bg-slate-200
                px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8 border-4 border-slate-500">
                
                <form hx-target="#modal" hx-swap="outerHTML"
                      class="bg-slate-200 w-full relative md:col-span-2 mb-4">
                    <div class="grid grid-cols-3 gap-4">
                    {% for collection in collections %}
                        <div class="flex flex-col items-center mb-4">
                            <div class="max-w-md mx-auto">
                                <a href="#">
                                    <h2
                                        class="w-full font-bold p-1 text-center border-b-4 border-blue-900 hover:text-blue-900">
                                        {{collection.name}}</h2>
                                </a>
                            </div>
                            <span
                                class="font-bold rounded-xl p-1 h-auto w-fit text-slate-700">{{collection.description}}</span>
                            <button hx-post="/artwork/{{artwork.id}}/add/{{collection.id}}" class="rounded-md bg-blue-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-800">Añadir</button>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="button"
                        _="on click trigger closeModal"
                        class="absolute  px-2 py-1">
                        Cancelar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>